<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{common/layout/layout}">

<body>
<div layout:fragment="content">
<section class="section--message">
  <div class="inner">
    <div class="header">채팅방 목록</div>
    <div class="room-container">

      <a th:each="chatRoom : ${chatRoomList}" th:href="@{/chats/room/{roomId}(roomId=${chatRoom.id})}" class="room">
        <div class="other-username" th:text="${chatRoom.username} + '님과의 채팅방'">
          <span>와의 채팅방</span>
        </div>
        <div class="lastChatMessage" th:text="${chatRoom.lastMessage}"></div>
        <div class="modifiedAt">
          <span th:if="${#temporals.format(chatRoom.lastMessageTime, 'yyyyMMdd') == #temporals.format(#temporals.createNow(), 'yyyyMMdd')}"
                th:text="${#temporals.format(chatRoom.lastMessageTime, 'HH:mm')}">Today</span>
          <span th:unless="${#temporals.format(chatRoom.lastMessageTime, 'yyyyMMdd') == #temporals.format(#temporals.createNow(), 'yyyyMMdd')}"
                th:text="${#temporals.format(chatRoom.lastMessageTime, 'yyyy-MM-dd')}"></span>
        </div>
      </a>

    </div>
  </div>
</section>
</div>
</body>
</html>