<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<header class="header" th:fragment="nav">
<div class="header-content">
  <div class="header-logo">
    <a href="/">
      <img th:src="@{/images/logo/swapswaphomepagelogo.png}" alt="스왑스왑 로고">
    </a>
  </div>
  <div class="nav-container">
    <a href="#chatroom">채팅방</a>
    <a href="#cs">고객센터</a>
    <div class="search-container">
      <input type="text" class="search-input" placeholder="물품을 검색해보세요">
      <button class="search-button">검색</button>
    </div>
  </div>
  <div class="header-nav">
    <a href="#login" class="login-link"> 로그인</a>
  </div>
</div>
</header>
</html>