<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>스왑스왑</title>

  <link rel="shortcut icon" th:href="@{/favicon.ico}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function () {
      var nicknameSpan = document.querySelector('.edit_nickname');
      var originalNickname = nicknameSpan.innerText.trim();

      document.querySelector('#nicknameLink').addEventListener('click', function (event) {
        var newNickname = nicknameSpan.innerText.trim();

        if (newNickname === originalNickname) {
          swal({
            title: '알림',
            text: '변경하려는 닉네임이 \n현재 닉네임과 같습니다',
            icon: 'error'
          });
        } else if (newNickname.length >= 2 && newNickname.length <= 15 && /^[a-zA-Z0-9가-힣]+$/.test(newNickname)) {
          var xhr = new XMLHttpRequest();
          xhr.open('GET', '/members/checkNickname?nickname=' + newNickname, true);
          xhr.onload = function () {
            if (xhr.status === 200) {
              var isDuplicate = JSON.parse(xhr.responseText);
              if (isDuplicate) {
                swal({
                  title: '알림',
                  text: '이미 존재하는 닉네임입니다',
                  icon: 'error'
                });
              } else {
                var xhrPatch = new XMLHttpRequest();
                xhrPatch.open('PATCH', '/members/nickname', true);
                xhrPatch.setRequestHeader('Content-Type', 'application/json');

                originalNickname = newNickname;
                xhrPatch.onload = function () {
                  if (xhrPatch.status === 200) {
                    console.log("success");
                    swal({
                      title: '알림',
                      text: '닉네임이 정상적으로 변경되었습니다',
                      icon: 'success'
                    }).then(() => {
                      window.location.href = '/myPage';
                    });
                  } else {
                    console.error('닉네임 업데이트 오류:', xhrPatch.statusText);
                  }
                };

                xhrPatch.onerror = function () {
                  console.error('요청 실패');
                  console.error(xhrPatch);
                };

                xhrPatch.send(JSON.stringify({ nickname: newNickname }));
              }
            } else {
              console.error('닉네임 중복 확인 오류:', xhr.statusText);
            }
          };
          xhr.onerror = function () {
            console.error('요청 실패');
            console.error(xhr);
          };
          xhr.send();
        } else {
          swal({
            title: '알림',
            text: '닉네임은 특수 문자를 제외한 \n2자 이상 15자 이내로 설정해주세요',
            icon: 'error'
          });
        }
      });
    });
  </script>
  <style>
    .swal-title {
      font-size: 18px;
    }

    .swal-text {
      font-size: 25px;
      text-align: center;
    }

    .swal-button {
      font-size: 16px;
      background-color: #00AADC;
    }
  </style>
</head>

<body>
<header class="header">
  <div class="header-content">
    <div class="header-logo">
      <a href="/">
        <img th:src="@{/images/logo/swapswaphomepagelogo.png}" alt="스왑스왑 로고">
      </a>
    </div>
    <div class="nav-container">
      <a href="#chatroom">채팅방</a>
      <a href="#cs">고객센터</a>
      <div class="swapswap-search-container">
        <input type="text" class="swapswap-search-input" placeholder="물품을 검색해보세요">
        <button class="swapswap-search-button">검색</button>
      </div>
    </div>
    <div class="header-nav">
        <span sec:authorize="isAuthenticated()">
          <a href="/">글쓰기</a>
          </span>
      <span sec:authorize="isAuthenticated()">
            <a href="/" class="login-link">스왑목록</a>
          </span>
      <span sec:authorize="isAuthenticated()">
            <a href="/myPage" class="login-link">마이페이지</a>
          </span>
      <span sec:authorize="isAuthenticated()">
            <a th:href="@{/members/logout}" id="logoutButton">로그아웃</a>
          </span>
      <span sec:authorize="isAnonymous()">
            <a href="/templates/member/login.html" class="login-link">로그인</a>
          </span>
    </div>
  </div>
  <div class="edit_profile">
    <div class="edit_profile__card">
      <h2>
        프로필 수정
      </h2>
      <form id="nicknameForm" class="edit">
        <div class="label">
          <h2>
            닉네임
          </h2>
          <span class="edit_nickname" th:text="${#authentication.principal.nickname}"
                contenteditable="true"></span>
        </div>
        <div class="buttons">
          <a id="nicknameLink" class="editbutton">수정하기</a>
          <a href="/myPage" class="cancelbutton">취소</a>
        </div>
      </form>
    </div>
  </div>
</header>
</body>
</html>