<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{common/layout/layout}">
<body>
<div class="coupon-body" layout:fragment="content">
  <div class="coupon-list-box">쿠폰함</div>
  <div th:each="myCouponGetResponseDto : ${myCouponGetResponseDtoList}" class="coupon-card">
    <div class="coupon-card-body">
      <h2 class="card-title" th:text="${myCouponGetResponseDto.couponName()}"></h2>
      <p class="card-text">
        수수료 할인율: <span th:text="${myCouponGetResponseDto.discountPercentage()}"></span>%<br>
        만료 기한: <span th:text="${myCouponGetResponseDto.expiredTime()}"></span>
      </p>
    </div>
  </div>
</div>
</body>
</html>