<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{common/layout/layout}">
<body>
<div layout:fragment="content">
  <div class="my-favorite-explain">
    내가 작성한 게시글 목록
  </div>
  <div class="post-container">
    <div th:each="postDto : ${postGetListResponseDto}" class="post-card"
         th:data-modified-time="${postDto.modifiedUpTime}">
      <a th:href="@{/posts/{postId}(postId=${postDto.postId})}">
        <div class="post-image-container">
          <img th:unless="${postDto.dealStatus == postDto.dealStatus.REQUESTED}" th:src="${postDto.imageUrl.get(0).toString}" alt="Post Image" class="post-image activeDeal">
          <img th:if="${postDto.dealStatus == postDto.dealStatus.REQUESTED}" th:src="${postDto.imageUrl.get(0).toString}" alt="Post Image" class="post-image">
          <div class="post-deal-status">
            <div th:if="${postDto.dealStatus == postDto.dealStatus.DEALING}" class="post-deal-status dealing"> 거래 진행 중 </div>
            <div th:if="${postDto.dealStatus == postDto.dealStatus.COMPLETED}" class="post-deal-status completed"> 거래 완료 </div>
          </div>
        </div>
        <h2 th:text="${postDto.title}" class="post-title"></h2>
        <div class="post-stats">
          <span class="view-count">조회수 <span th:text="${postDto.viewCnt}"></span></span>
          <span class="favorite-count">찜 <span th:text="${postDto.favoriteCnt}"></span></span>
          <span class="post-city"><span th:text="${postDto.city.getProvince.getName}"></span> / <span th:text="${postDto.city.getName}"></span></span>
          <span class="modified-date"><span
              th:if="${#temporals.format(postDto.modifiedUpTime(), 'yyyyMMdd') == #temporals.format(#temporals.createNow(), 'yyyyMMdd')}"
              th:text="${#temporals.format(postDto.modifiedUpTime, 'HH:mm')}"></span>
          <span
              th:unless="${#temporals.format(postDto.modifiedUpTime(), 'yyyyMMdd') == #temporals.format(#temporals.createNow(), 'yyyyMMdd')}"
              th:text="${#temporals.format(postDto.modifiedUpTime, 'yyyy.MM.dd.')}"></span>
          </span>
        </div>
      </a>
      <button
          th:data-post-id="${postDto.postId}"
          onclick="toggleFavorite(this.getAttribute('data-post-id'))"
          th:text="${postDto.favoriteStatus} == true ? '💙' : '🤍'"
          type="button"
      ></button>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script th:inline="javascript">

    let isLoading = false;
    let lastModifiedTime = null; // 마지막 게시물 수정 시간 초기화
    let isLast = false;

    window.addEventListener("scroll", function () {

      const lastPost = document.querySelector('.post-card:last-of-type');
      if (lastPost) {
        const modifiedTime = lastPost.getAttribute('data-modified-time');
        if (modifiedTime) {
          lastModifiedTime = modifiedTime;
        }
      }

      const SCROLLED_HEIGHT = window.scrollY;
      const WINDOW_HEIGHT = window.innerHeight;
      const DOC_TOTAL_HEIGHT = document.body.offsetHeight;
      const IS_BOTTOM = (WINDOW_HEIGHT + SCROLLED_HEIGHT > DOC_TOTAL_HEIGHT);

      if (IS_BOTTOM && !isLoading) {
        loadMorePosts();
      }
    });

    function loadMorePosts() {
      isLoading = true;
      let url = '/members/posts/more?cursorTime=' + lastModifiedTime;

      if(!isLast) {
        $.ajax({
          url: url,
          type: 'GET',
          success: function(htmlFragment) {
            $('.post-container').append(htmlFragment);
            updateLastModifiedTime(htmlFragment);
            isLoading = false;
          },
          error: function() {
            alert('더 이상 로드할 게시물이 없습니다.')
            isLast = true;
            isLoading = false;
          }
        });
      }

    }

    function updateLastModifiedTime(htmlFragment) {
      // HTML 조각을 임시 요소에 추가하여 파싱
      const tempDiv = document.createElement('div');
      tempDiv.innerHTML = htmlFragment;

      // 마지막 게시물의 수정 시간 추출
      const lastPost = tempDiv.querySelector('.post-card:last-of-type');
      if (lastPost) {
        const modifiedTime = lastPost.getAttribute('data-modified-time');
        if (modifiedTime) {
          lastModifiedTime = modifiedTime;
        }
      }
    }

    function toggleFavorite(postId) {
      $.ajax({
        url: '/posts/' + postId + '/favorite',
        type: 'PATCH',
        contentType: 'application/json; charset=utf-8',
        success: function() {
          location.reload()
        }
      });
    }
  </script>
</div>
</body>
</html>