<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{common/layout/layout}">

<body>
<div layout:fragment="content">
  <script>
    function selectCategory(category) {
      document.getElementById('categoryInput').value = category;

      document.querySelectorAll('.category-button').forEach(button => {
        button.classList.remove('active')
      });

      event.target.classList.add('active')
    }

    function uploadForm() {

      if(confirm("게시글 등록하시겠습니까?") == true) {

        return validateForm();
      } else {

        return false;
      }
    }

    function validateForm() {

      var titleInput = document.querySelector('.write-bar-title-input');
      var imageInput = document.querySelector('.write-bar-image-input');
      var categoryInput = document.getElementById('categoryInput');
      var contentInput = document.querySelector('.write-content-input');
      var cityInput = document.getElementById('cityInput');

      var title = titleInput.value.trim();
      var content = contentInput.value.trim();

      if (title.length === 0 || title.length > 50) {
        alert('제목은 1글자 이상 50글자 이하이어야 합니다.');

        return false;
      }

      if (imageInput.files.length === 0) {
        alert('사진을 첨부해주세요');

        return false;
      }

      if (cityInput.value.trim() === '') {
        alert('도시를 선택해주세요');

        return false;
      }

      if (categoryInput.value.trim() === '') {
        alert('카테고리를 선택하여 주세요');

        return false;
      }

      if (content.length === 0 || content.length > 1000) {
        alert('글 내용은 1글자 이상 1000글자 이하이어야 합니다.');

        return false;
      }

      return true;
    }


  </script>
  <form action="#" th:action="@{/posts/write}" th:object="${PostCreateRequestDto}" method="post"
        enctype="multipart/form-data" onsubmit="return uploadForm()">
    <div class="write-bar-container">
      <div class="write-bar">
        <div class="write-bar-explain"> 이미지</div>
        <input type="file" class="write-bar-image-input" accept="image/*" multiple max="10"
               th:field="*{imageUrlList}">
        <div class="image-upload-guide">이미지는 최소 1장 최대 10장 / 1장당 10MB 용량까지만 올릴 수 있습니다.</div>
      </div>
      <div class="write-bar">
        <div class="write-bar-explain"> 제목</div>
        <input class="write-bar-title-input" th:field="*{title}">
      </div>
      <div class="write-bar">
        <div class="write-bar-explain"> 도시</div>
        <select id="cityInput" class="styled-select" th:field="*{city}">
          <option value="">도시를 선택하세요...</option>

          <option value="GWANGJU">기타 - 광주광역시</option>
          <option value="DAEGU">기타 - 대구광역시</option>
          <option value="DAEJEON">기타 - 대전광역시</option>
          <option value="BUSAN">기타 - 부산광역시</option>
          <option value="SEOUL">기타 - 서울특별시</option>
          <option value="SEJONG">기타 - 세종특별자치시</option>
          <option value="INCHEON">기타 - 인천광역시</option>

          <option value="DONGHAE">강원도 - 동해시</option>
          <option value="WONJU">강원도 - 원주시</option>
          <option value="CHUNCHEON">강원도 - 춘천시</option>
          <option value="TAEBACK">강원도 - 태백시</option>

          <option value="GOYANG">경기도 - 고양시</option>
          <option value="GWACHEON">경기도 - 과천시</option>
          <option value="GWANGMYEONG">경기도 - 광명시</option>
          <option value="GWANGJU_GYEONGGI">경기도 - 광주시</option>
          <option value="GUNPO">경기도 - 군포시</option>
          <option value="NAMYANGJU">경기도 - 남양주시</option>
          <option value="DONGDUCHEON">경기도 - 동두천시</option>
          <option value="BUCHEON">경기도 - 부천시</option>
          <option value="SEONGNAM">경기도 - 성남시</option>
          <option value="SUWON">경기도 - 수원시</option>
          <option value="SIHEUNG">경기도 - 시흥시</option>
          <option value="ANSAN">경기도 - 안산시</option>
          <option value="ANSEONG">경기도 - 안성시</option>
          <option value="ANYANG">경기도 - 안양시</option>
          <option value="YANGSAN">경기도 - 양산시</option>
          <option value="YANGJU">경기도 - 양주시</option>
          <option value="YEOJU">경기도 - 여주시</option>
          <option value="OSAN">경기도 - 오산시</option>
          <option value="YONGIN">경기도 - 용인시</option>
          <option value="UIJEONGBU">경기도 - 의정부시</option>
          <option value="UIWANG">경기도 - 의왕시</option>
          <option value="ICHEON">경기도 - 이천시</option>
          <option value="PAJU">경기도 - 파주시</option>
          <option value="PYEONGTAEK">경기도 - 평택시</option>
          <option value="POCHEON">경기도 - 포천시</option>
          <option value="HANAM">경기도 - 하남시</option>
          <option value="HWASEONG">경기도 - 화성시</option>

          <option value="GIMHAE">경상남도 - 김해시</option>
          <option value="JINJU">경상남도 - 진주시</option>
          <option value="CHANGWON">경상남도 - 창원시</option>
          <option value="TONGYEONG">경상남도 - 통영시</option>

          <option value="GYEONGSAN">경상북도 - 경산시</option>
          <option value="GYEONGJU">경상북도 - 경주시</option>
          <option value="GUMI">경상북도 - 구미시</option>
          <option value="GIMCHEON">경상북도 - 김천시</option>
          <option value="ANDONG">경상북도 - 안동시</option>
          <option value="YEONGJU">경상북도 - 영주시</option>
          <option value="YEONGCHEON">경상북도 - 영천시</option>
          <option value="POHANG">경상북도 - 포항시</option>

          <option value="NAJU">전라남도 - 나주시</option>
          <option value="SUNCHEON">전라남도 - 순천시</option>
          <option value="YEOSU">전라남도 - 여수시</option>

          <option value="GUNSAN">전라북도 - 군산시</option>
          <option value="GIMJE">전라북도 - 김제시</option>
          <option value="NAMWON">전라북도 - 남원시</option>
          <option value="IKSAN">전라북도 - 익산시</option>
          <option value="JEONJU">전라북도 - 전주시</option>

          <option value="SEOGWIPO">제주도 - 서귀포시</option>
          <option value="JEJU">제주도 - 제주시</option>

          <option value="GONGJU">충청남도 - 공주시</option>
          <option value="GYERYONG">충청남도 - 계룡시</option>
          <option value="NONSAN">충청남도 - 논산시</option>
          <option value="DANGJIN">충청남도 - 당진시</option>
          <option value="BORYEONG">충청남도 - 보령시</option>
          <option value="SEOSAN">충청남도 - 서산시</option>
          <option value="ASAN">충청남도 - 아산시</option>
          <option value="CHEONAN">충청남도 - 천안시</option>

          <option value="JECHEON">충청북도 - 제천시</option>
          <option value="CHEONGJU">충청북도 - 청주시</option>
          <option value="CHUNGJU">충청북도 - 충주시</option>
        </select>
      </div>
      <div class="write-bar">
        <div class="write-bar-explain"> 카테고리</div>
        <input type="hidden" th:field="*{category}" id="categoryInput">
        <div class="category-button-container">
          <button type="button" class="category-button"
                  onclick="selectCategory('HOME_ELECTRONICS')">가전제품
          </button>
          <button type="button" class="category-button" onclick="selectCategory('ELECTRONICS')">
            전자제품
          </button>
          <button type="button" class="category-button"
                  onclick="selectCategory('FASHION_MISCELLANEOUS')">패션의류/잡화
          </button>
          <button type="button" class="category-button" onclick="selectCategory('BEAUTY')">뷰티/미용
          </button>
          <button type="button" class="category-button"
                  onclick="selectCategory('INFANT_CHILDCARE')">출산/유아동
          </button>
          <button type="button" class="category-button" onclick="selectCategory('FOOD')">식품</button>
          <button type="button" class="category-button" onclick="selectCategory('KITCHEN')">주방용품
          </button>
          <button type="button" class="category-button" onclick="selectCategory('HOUSEHOLD')">생활용품
          </button>
          <button type="button" class="category-button"
                  onclick="selectCategory('FURNITURE_INTERIOR')">가구/인테리어
          </button>
          <button type="button" class="category-button" onclick="selectCategory('SPORT_LEISURE')">
            스포츠/레저
          </button>
          <button type="button" class="category-button" onclick="selectCategory('CAR')">자동차용품
          </button>
          <button type="button" class="category-button"
                  onclick="selectCategory('HOBBY_GAME_BOOK_ALBUM_DVD')">취미/게임/도서/음반/DVD
          </button>
          <button type="button" class="category-button" onclick="selectCategory('OFFICE_SUPPLIES')">
            문구/오피스
          </button>
          <button type="button" class="category-button" onclick="selectCategory('PET')">반려동물용품
          </button>
          <button type="button" class="category-button" onclick="selectCategory('ETC')">기타중고물품
          </button>
        </div>
      </div>
    </div>
    <div class="write-content-container">
      <textarea class="write-content-input" th:field="*{content}" rows="4" cols="50" maxlength="1000"></textarea>
      <button type="submit" class="write-complete-button">글 등록</button>
    </div>
  </form>
</div>
</body>
</html>