<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{common/layout/layout}">

<body>
<div layout:fragment="content">
  <div class="post-content-container">
    <div class="post-content-image-container">
      <div class="post-content-image-slider">
        <img th:if="${postGetResponseDto.dealStatus == postGetResponseDto.dealStatus.REQUESTED}"
             th:each="entry:${postGetResponseDto.imageUrl.entrySet}" th:src="${entry.value}"
             th:alt="'Image '+ ${entry.key}" class="post-content-image">
        <img th:unless="${postGetResponseDto.dealStatus == postGetResponseDto.dealStatus.REQUESTED}"
             th:each="entry:${postGetResponseDto.imageUrl.entrySet}" th:src="${entry.value}"
             th:alt="'Image '+ ${entry.key}" class="post-content-image activeDeal">
      </div>
      <button class="post-slider-button post-prev-button" onclick="moveSlide(-1)">＜</button>
      <button class="post-slider-button post-next-button" onclick="moveSlide(1)">＞</button>
      <div th:if="${postGetResponseDto.dealStatus == postGetResponseDto.dealStatus.DEALING}" class="post-deal-status dealing"> 거래 진행 중 </div>
      <div th:if="${postGetResponseDto.dealStatus == postGetResponseDto.dealStatus.COMPLETED}" class="post-deal-status completed"> 거래 완료 </div>
    </div>
    <div>
      <div class="post-content-details">
        <div class="post-button-section">
          <div class="author-details">
            <input class="author-id" type="hidden" th:value="${postGetResponseDto.memberId}">
            <span class="author-name" th:text="${postGetResponseDto.author}"></span>
          </div>
          <div class="post-update-button"
               th:if="${isWriter}">
            <a th:href="@{/posts/{postId}/write(postId=${postId})}"
               sec:authorize="isAuthenticated()">
              수정하기
            </a>
          </div>
          <div class="chat-request-button"
               th:if="${!isWriter}"
               th:data-member-id="${postGetResponseDto.memberId}"
               th:onclick="requestChat(this.getAttribute('data-member-id'))"
               sec:authorize="isAuthenticated()">
            <a>
              채팅하기
            </a>
          </div>
          <div class="post-request-button"
               sec:authorize="isAuthenticated()"
               th:if="${postGetResponseDto.dealStatus == postGetResponseDto.dealStatus.REQUESTED} and ${!isWriter}">
            <a th:href="@{/deals/request(receiveMemberId=${postGetResponseDto.memberId},memberName=${postGetResponseDto.author})}">
              요청하기
            </a>
          </div>
          <div class="post-up-button"
               th:if="${isWriter}"
               th:data-post-id="${postId}"
               th:onclick="upPost(this.getAttribute('data-post-id'))">
            <a sec:authorize="isAuthenticated()">
              업하기
            </a>
          </div>
          <div class="post-delete-button"
               th:if="${isWriter}"
               th:data-post-id="${postId}"
               th:onclick="deletePost(this.getAttribute('data-post-id'))">
            <a sec:authorize="isAuthenticated()">
              삭제하기
            </a>
          </div>
          <div class="favorite-action">
            <button
                th:data-post-id="${postId}"
                th:onclick="toggleFavorite(this.getAttribute('data-post-id'))"
                th:text="${postGetResponseDto.favoriteStatus} == true ? '💙' : '🤍'">
            </button>
          </div>
        </div>
        <div class="post-title-meta-section">
          <h1 class="post-title" th:text="${postGetResponseDto.title}"></h1>
          <div class="post-meta">
            <span th:text="${postGetResponseDto.city.getProvince.getName}"></span> /
            <span th:text="${postGetResponseDto.city.getName}"></span> ・
            <span th:text="${postGetResponseDto.category.getName}"></span> ・
            <span
                th:if="${#temporals.format(postGetResponseDto.modifiedUpTime(), 'yyyyMMdd') == #temporals.format(#temporals.createNow(), 'yyyyMMdd')}"
                th:text="${#temporals.format(postGetResponseDto.modifiedUpTime, 'HH:mm')}"></span>
            <span
                th:unless="${#temporals.format(postGetResponseDto.modifiedUpTime(), 'yyyyMMdd') == #temporals.format(#temporals.createNow(), 'yyyyMMdd')}"
                th:text="${#temporals.format(postGetResponseDto.modifiedUpTime, 'yyyy.MM.dd.')}"></span>
          </div>
        </div>
        <div class="post-content-body">
          <p th:text="${postGetResponseDto.content}"></p>
          <div class="post-content-stats">
            <span>찜 횟수: <span th:text="${postGetResponseDto.favoriteCnt}"></span></span> |
            <span>조회수: <span th:text="${postGetResponseDto.viewCnt}"></span></span> |
            <span>업 횟수: <span th:text="${postGetResponseDto.upCnt}"></span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script th:inline="javascript">
    /*<![CDATA[*/
    var totalSlides = [[${postGetResponseDto.imageUrl.size()}]];

    window.addEventListener('DOMContentLoaded', (event) => {

      const slidesContainer = document.querySelector('.post-content-image-slider');
      const images = document.querySelectorAll('.post-content-image')

      images.forEach(image => {
        image.style.width = `${100 / totalSlides}%`
      })

      // 컨테이너의 너비를 이미지 갯수에 따라 설정
      slidesContainer.style.width = `${totalSlides * 100}%`;

      let currentSlide = 0;

      window.moveSlide = function (direction) {
        if (direction === 1 && currentSlide < totalSlides - 1) {
          currentSlide++;
        } else if (direction === -1 && currentSlide > 0) {
          currentSlide--;
        }
        updateSlidePosition();
      };

      function updateSlidePosition() {
        const percentage = -(currentSlide * 100 / totalSlides);
        slidesContainer.style.transform = `translateX(${percentage}%)`;
      }

      // 초기 슬라이드 위치 업데이트
      updateSlidePosition();
    });
    /*]]>*/
  </script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script th:inline="javascript">

    const isMemberLogged = [[${isMemberLogged}]];

    function toggleFavorite(postId) {

      if(!isMemberLogged) {
        if (confirm("로그인이 필요한 기능입니다. 로그인 하시겠습니까?") === true) {
          location.href = "/login"
        } else {

          return;
        }
      }

      $.ajax({
        url: '/posts/' + postId + '/favorite',
        type: 'PATCH',
        contentType: 'application/json; charset=utf-8',
        success: function () {
          location.reload()
        }
      });
    }

    function deletePost(postId) {

      if (confirm("게시글을 삭제하시겠습니까?") === true) {
        $.ajax({
          url: '/posts/' + postId,
          type: 'DELETE',
          contentType: 'application/json; charset=utf-8',
          success: function () {
            location.href = '/'
          }
        });
      } else {
        return false;
      }
    }

    function upPost(postId) {

      if (confirm("게시글을 업 하시겠습니까?\n등록한지 24시간 이상 된 게시글 / 업 한지 24시간 이상 된 게시글만 업 할 수 있습니다.")
          === true) {
        $.ajax({
          url: '/posts/' + postId + '/up',
          type: 'PATCH',
          contentType: 'application/json; charset=utf-8',
          success: function () {
            location.reload()
          },
          error: function (xhr) {
            var errorMessage = xhr.responseJSON ? xhr.responseJSON.message : xhr.responseText;
            Swal.fire({
              title: '알림',
              text: errorMessage,
              icon: 'error'
            });
          }
        });
      } else {
        return false;
      }
    }

    function requestChat(userId) {
      $.ajax({
        url: '/chats/create',
        type: 'POST',
        data: {receiveMemberId: userId},

        success: function (response) {
          console.log(response);
          window.location.href = '/chats/room/' + response;
        },
      });
    }

  </script>
</div>
</body>
</html>