<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{common/layout/layout}">

<body>
<div layout:fragment="content">
  <script>
    function selectCategory(category) {
      document.getElementById('categoryInput').value = category;

      document.querySelectorAll('.category-button').forEach(button => {
        button.classList.remove('active')
      });

      event.target.classList.add('active')
    }

    function validateForm() {
      var titleInput = document.querySelector('.write-bar-title-input');
      var imageInput = document.querySelector('.write-bar-image-input');
      var categoryInput = document.getElementById('categoryInput');
      var contentInput = document.querySelector('.write-content-input');
      var cityInput = document.getElementById('cityInput');

      if (titleInput.value.trim() === '') {
        alert('제목은 필수 입력란입니다.');
        return false;
      }

      if (imageInput.files.length === 0) {
        alert('사진을 첨부해주세요');
        return false;
      }

      if (cityInput.value.trim() === '') {
        alert('도시를 선택해주세요');
        return false;
      }

      if (categoryInput.value.trim() === '') {
        alert('카테고리를 선택하여 주세요');
        return false;
      }

      if (contentInput.value.trim() === '') {
        alert('글 내용은 필수 입력란입니다.');
        return false;
      }

      return true;
    }
  </script>
  <form action="#" th:action="@{/posts/write}" th:object="${PostCreateRequestDto}" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
    <div class="write-bar-container">
      <div class="write-bar">
        <div class="write-bar-explain"> 이미지 </div>
        <input type="file" class="write-bar-image-input" accept="image/*" multiple max="10" th:field="*{imageUrlList}">
      </div>
      <div class="write-bar">
        <div class="write-bar-explain"> 제목 </div>
        <input class="write-bar-title-input" th:field="*{title}">
      </div>
      <div class="write-bar">
        <div class="write-bar-explain"> 도시 </div>
        <select id="cityInput" class="styled-select" th:field="*{city}">
          <option value="">도시 선택...</option>
          <option value="ANDONG">안동시</option>
          <option value="ANSAN">안산시</option>
          <option value="ANSEONG">안성시</option>
          <option value="ANYANG">안양시</option>
          <option value="ASAN">아산시</option>
          <option value="BORYEONG">보령시</option>
          <option value="BUCHEON">부천시</option>
          <option value="BUSAN">부산광역시</option>
          <option value="CHANGWON">창원시</option>
          <option value="CHEONAN">천안시</option>
          <option value="CHEONGJU">청주시</option>
          <option value="CHUNCHEON">춘천시</option>
          <option value="CHUNGJU">충주시</option>
          <option value="DAEGU">대구광역시</option>
          <option value="DAEJEON">대전광역시</option>
          <option value="DANGJIN">당진시</option>
          <option value="DONGDUCHEON">동두천시</option>
          <option value="DONGHAE">동해시</option>
          <option value="GANGNEUNG">강릉시</option>
          <option value="GEOJE">거제시</option>
          <option value="GIMCHEON">김천시</option>
          <option value="GIMHAE">김해시</option>
          <option value="GIMJE">김제시</option>
          <option value="GIMPO">김포시</option>
          <option value="GONGJU">공주시</option>
          <option value="GOYANG">고양시</option>
          <option value="GUMI">구미시</option>
          <option value="GUNPO">군포시</option>
          <option value="GUNSAN">군산시</option>
          <option value="GURI">구리시</option>
          <option value="GWACHEON">과천시</option>
          <option value="GWANGJU">광주광역시</option>
          <option value="GWANGJU_GYEONGGI">광주시</option>
          <option value="GWANGMYEONG">광명시</option>
          <option value="GWANGYANG">광양시</option>
          <option value="GYEONGJU">경주시</option>
          <option value="GYEONGSAN">경산시</option>
          <option value="GYERYONG">계룡시</option>
          <option value="HANAM">하남시</option>
          <option value="HWASEONG">화성시</option>
          <option value="ICHEON">이천시</option>
          <option value="IKSAN">익산시</option>
          <option value="INCHEON">인천광역시</option>
          <option value="JECHEON">제천시</option>
          <option value="JEONGEUP">정읍시</option>
          <option value="JEONJU">전주시</option>
          <option value="JEJU">제주시</option>
          <option value="JINJU">진주시</option>
          <option value="NAJU">나주시</option>
          <option value="NAMYANGJU">남양주시</option>
          <option value="NAMWON">남원시</option>
          <option value="NONSAN">논산시</option>
          <option value="MIRYANG">밀양시</option>
          <option value="MOKPO">목포시</option>
          <option value="MUNGYEONG">문경시</option>
          <option value="OSAN">오산시</option>
          <option value="PAJU">파주시</option>
          <option value="POCHEON">포천시</option>
          <option value="POHANG">포항시</option>
          <option value="PYEONGTAEK">평택시</option>
          <option value="SACHEON">사천시</option>
          <option value="SANGJU">상주시</option>
          <option value="SAMCHEOK">삼척시</option>
          <option value="SEJONG">세종특별자치시</option>
          <option value="SEOGWIPO">서귀포시</option>
          <option value="SEONGNAM">성남시</option>
          <option value="SEOSAN">서산시</option>
          <option value="SEOUL">서울특별시</option>
          <option value="SIHEUNG">시흥시</option>
          <option value="SOKCHO">속초시</option>
          <option value="SUNCHEON">순천시</option>
          <option value="SUWON">수원시</option>
          <option value="TAEBACK">태백시</option>
          <option value="TONGYEONG">통영시</option>
          <option value="UIJEONGBU">의정부시</option>
          <option value="UIWANG">의왕시</option>
          <option value="ULSAN">울산광역시</option>
          <option value="WONJU">원주시</option>
          <option value="YANGJU">양주시</option>
          <option value="YANGSAN">양산시</option>
          <option value="YEOJU">여주시</option>
          <option value="YEONGCHEON">영천시</option>
          <option value="YEONGJU">영주시</option>
          <option value="YEOSU">여수시</option>
          <option value="YONGIN">용인시</option>
        </select>
      </div>
      <div class="write-bar">
        <div class="write-bar-explain"> 카테고리 </div>
        <input type="hidden" th:field="*{category}" id="categoryInput">
        <div class="category-button-container">
          <button type="button" class="category-button" onclick="selectCategory('HOME_ELECTRONICS')">가전제품</button>
          <button type="button" class="category-button" onclick="selectCategory('ELECTRONICS')">전자제품</button>
          <button type="button" class="category-button" onclick="selectCategory('FASHION_MISCELLANEOUS')">패션의류/잡화</button>
          <button type="button" class="category-button" onclick="selectCategory('BEAUTY')">뷰티/미용</button>
          <button type="button" class="category-button" onclick="selectCategory('INFANT_CHILDCARE')">출산/유아동</button>
          <button type="button" class="category-button" onclick="selectCategory('FOOD')">식품</button>
          <button type="button" class="category-button" onclick="selectCategory('KITCHEN')">주방용품</button>
          <button type="button" class="category-button" onclick="selectCategory('HOUSEHOLD')">생활용품</button>
          <button type="button" class="category-button" onclick="selectCategory('FURNITURE_INTERIOR')">가구/인테리어</button>
          <button type="button" class="category-button" onclick="selectCategory('SPORT_LEISURE')">스포츠/레저</button>
          <button type="button" class="category-button" onclick="selectCategory('CAR')">자동차용품</button>
          <button type="button" class="category-button" onclick="selectCategory('HOBBY_GAME_BOOK_ALBUM_DVD')">취미/게임/도서/음반/DVD</button>
          <button type="button" class="category-button" onclick="selectCategory('OFFICE_SUPPLIES')">문구/오피스</button>
          <button type="button" class="category-button" onclick="selectCategory('PET')">반려동물용품</button>
          <button type="button" class="category-button" onclick="selectCategory('ETC')">기타중고물품</button>
        </div>
      </div>
    </div>
    <div class="write-content-container">
      <input class="write-content-input" th:field="*{content}">
      <button type="submit" class="write-complete-button">글 등록</button>
    </div>
  </form>
</div>
</body>
</html>