@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body{
  font-family: 'S-CoreDream-3Light';
}
.header {
  background-color: #ffffff;
  border-bottom: 1px #E5E5E5 solid;
  position: relative;
  width: 100%;
  top: 0;
  z-index: 1000;
}
.header-content {
  display: flex;
  align-items: center;
  padding: 10px 50px;
}
.header-logo {
  flex-grow: 0;
  flex-shrink: 0;
}
.header-logo img {
  height: 70px;
  width: 140px;
}
.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0 10px; /* 조정된 여백 */
}
.nav-container a,
.nav-container .swapswap-search-container {
  padding: 8px 16px;
  text-decoration: none;
  color: #333;
  text-align: center;
  font-weight: 500;
  transition: color 0.3s;
}
.nav-container a:hover {
  color: #00AADC;
}
.swapswap-search-container {
  width: 500px;
  position: relative;
  display: flex;
  align-items: center;
}
.swapswap-search-input {
  width: 100%; /* 수정: 입력란이 컨테이너 크기에 맞게 조정됩니다. */
  padding: 10px 40px 10px 15px; /* 오른쪽 패딩을 버튼 너비만큼 늘립니다. */
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 20px;
  background-color: #EBEBEB;
  height: 20px; /* 입력란의 높이를 버튼과 동일하게 조정 */
}
.swapswap-search-input:focus {
  border-color: #00AADC; /* 포커스 상태일 때의 테두리 색상 */
  outline: none; /* 기본 브라우저 아웃라인 제거 */
}
.swapswap-search-button {
  position: absolute;
  right: 0; /* 수정: 오른쪽 패딩에 맞게 조정 */
  border: 0;
  border-radius: 20px; /* 오른쪽 모서리만 둥글게 설정 */
  height: 35px; /* 버튼의 높이를 입력란과 동일하게 설정 */
  width: 40px; /* 너비를 40px로 설정하여 정사각형으로 만듭니다. */
  cursor: pointer;
  background: #00AADC;
  margin-right: 4%;
  color: white;
  text-align: center;
  line-height: 50%; /* 버튼 안의 내용을 수직 정렬 */
}
.header-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
}
.login-link {
  padding: 8px 16px;
  text-decoration: none;
  color: #333;
  text-align: center;
  font-weight: 500;
  transition: color 0.3s;
  margin-left: auto;
}
.category-bar {
  background-color: #ffffff;
  border-bottom: 1px solid #E5E5E5; /* 하단 경계선 */
  padding: 10px 0; /* 상하 패딩 */
  display: flex; /* Flexbox 사용 */
  justify-content: center; /* 가로축 중앙 정렬 */
  align-items: center; /* 세로축 중앙 정렬 */
  overflow: auto;
}

.category-bar a {
  padding: 8px 16px; /* 링크 패딩 */
  border-radius: 20px; /* 둥근 모서리 */
  text-decoration: none;
  color: #333;
  text-align: center;
  transition: background-color 0.3s;
  margin: 0 10px; /* 좌우 여백 추가 */
}

.category-bar a:hover {
  background-color: #00AADC; /* 호버 효과 */
  color: #ffffff;
}

.post-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.post-card {
  position: relative;
  width: calc(33.333% - 40px);
  margin: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  border-radius: 4px;
  overflow: hidden;
  background: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* 게시글 카드 링크에 대한 스타일 */
.post-card a {
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 부모 요소의 텍스트 색상을 상속받음 */
}

.post-card a:hover {
  text-decoration: none; /* 호버 상태에서도 밑줄이 나타나지 않도록 함 */
  color: inherit; /* 호버 상태에서도 텍스트 색상을 상속받음 */
}

.post-card button {
  position: absolute;
  top: 10px; /* 버튼을 상단으로부터 10px 떨어지게 위치 */
  right: 10px; /* 버튼을 우측으로부터 10px 떨어지게 위치 */
  background: none; /* 기본 배경 제거 */
  border: none; /* 기본 테두리 제거 */
  font-size: 1.5em; /* 아이콘 크기 */
  cursor: pointer; /* 마우스 오버시 커서 변경 */
}

.post-image-container {
  height: 300px; /* 이미지 컨테이너의 고정 높이 설정 */
  width: 100%; /* 이미지가 전체 너비를 차지하도록 설정 */
  overflow: hidden; /* 이미지가 컨테이너를 벗어나지 않도록 설정 */
}

.post-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

.post-title {
  font-size: 1.5em; /* 제목 크기 */
  color: #333; /* 제목 색상 */
  margin: 16px 0; /* 상하 여백 */
}

.post-details {
  font-size: 1em; /* 상세정보 크기 */
  color: #666; /* 상세정보 색상 */
  margin-bottom: 16px; /* 하단 여백 */
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-bottom: 5px;
}
.text-muted {
  color: #666;
  font-size: 0.8em;
}


.post-stats {
  display: flex;
  justify-content: space-around; /* 내용을 공간에 균등하게 분배 */
  align-items: center;
  padding: 10px;
  font-size: 0.9em; /* 글꼴 크기 축소 */
  color: #666; /* 회색 글꼴 */
}

.view-count,
.favorite-count,
.modified-date {
  margin: 5px 0;
}

.modified-date:before {
  content: ''; /* 날짜 앞에는 점을 추가하지 않음 */
  margin-right: 0;
}

/**
포스트 Write CSS
 */

.write-bar-container {
  color: #333333;
  width: 100%;
  height: 400px;
}

.write-bar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E5E5E5;
  height: 33%;
}

.write-bar-explain {
  flex-basis: 30%;
  font-size: 60px;
  text-align: center;
}

.write-bar-title-input {
  flex-grow: 1;
  height: 100%;
  font-size: 80px;
}

.write-content-container {
  height: 500px;
  background-color: aqua;
}

.write-content-input {
  flex-grow: 1;
  width: 100%;
  height: 500px;
}

.write-complete-button {
  color: #333333;
  background-color: #ffffff;
  height: 50px;
  border-radius: 20px;
  transition: background-color 0.3s;
}

.write-complete-button:hover {
  color: #ffffff;
  background-color: #00AADC;
}

.write-bar-image-input {
  flex-grow: 1;
  height: 40px; /* Adjust as needed */
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 5px;
}

.category-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.category-button, .couponType-button {
  padding: 8px 16px;
  border-radius: 20px;
  text-decoration: none;
  color: #333;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #E5E5E5;
  margin: 0 10px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.active, .category-button:hover {
  background-color: #00AADC;
  color: #ffffff;
}

.post-content-container {
  height: 400px;
}

.post-content-image-container {
  width: 100%;
  height: 400px;
  position: relative;
}

.post-content-image-slider {
  height: auto; /* 높이는 필요에 따라 조정 */
  overflow: hidden;
}

.post-content-image {
  height: 400px;
  flex: 0 0 auto;
  justify-content: center; /* 이미지를 가운데 정렬합니다 */
  align-items: center; /* 이미지를 세로 방향으로 가운데 정렬합니다 */
  object-fit: scale-down; /* 이미지가 컨테이너를 채우도록 하면서 비율을 유지 */
}

/* 슬라이더의 이전/다음 버튼 */
.post-slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

/* 이전 버튼 위치 */
.post-prev-button {
  left: 10px;
}

/* 다음 버튼 위치 */
.post-next-button {
  right: 10px;
}

.post-content-details {
  margin-top: 10px;
  border: #333333 1px solid;
  border-radius: 20px;
}

.post-author-favorite-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
}

.author-details .author-name {
  font-weight: bold;
  color: #333;
}

.post-update-button {
  border-radius: 20px;
  border: #333333 1px solid;
  cursor: pointer;
  transition: border 0.3s;
}

.post-update-button :hover {
  border: #00AADC 1px solid;
}

.favorite-action button {
  padding: 5px 15px;
  border-radius: 20px;
  border: 1px solid #333333;
  color: white;
  cursor: pointer;
  transition: border 0.3s;
}

.favorite-action button:hover {
  border: 1px solid #00AADC;
}

.post-title-meta-section {
  padding: 20px;
}

.post-title-meta-section .post-title {
  font-size: 1.5em;
  font-weight: bold;
  color: black;
  margin: 0;
}

.post-meta {
  font-size: 0.8em;
  color: #666;
  margin-top: 5px;
}

.post-content-body {
  padding: 0 20px 20px;
  line-height: 1.6;
}

.post-content-stats {
  font-size: 0.9em;
  color: #666;
  margin-top: 20px;
}

.post-content-actions button:hover {
  background-color: #007BFF;
}

.post-content-actions div {
  font-size: 0.9em;
  color: #666;
}