<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{common/layout/layout}">
<body>
<div layout:fragment="content">
  <div class="category-bar">
    <!-- 카테고리 링크 -->
    <a href="#HOME_ELECTRONICS">가전제품</a>
    <a href="#ELECTRONICS">전자제품</a>
    <a href="#FASHION_MISCELLANEOUS">패션의류/잡화</a>
    <a href="#BEAUTY">뷰티/미용</a>
    <a href="#INFANT_CHILDCARE">출산/유아동</a>
    <a href="#FOOD">식품</a>
    <a href="#KITCHEN">주방용품</a>
    <a href="#HOUSEHOLD">생활용품</a>
    <a href="#FURNITURE_INTERIOR">가구/인테리어</a>
    <a href="#SPORT_LEISURE">스포츠/레저</a>
    <a href="#CAR">자동차용품</a>
    <a href="#HOBBY_GAME_BOOK_ALBUM_DVD">취미/게임/도서/음반/DVD</a>
    <a href="#OFFICE_SUPPLIES">문구/오피스</a>
    <a href="#PET">반려동물용품</a>
    <a href="#ETC">기타중고물품</a>
  </div>

  <div class="grid-container">
    <!-- 반복되는 그리드 아이템 -->
    <div class="grid-item">
      <img src="chair-image-1.jpg" alt="스툴/체 트릴레브">
      <div>스툴/체 트릴레브</div>
      <div class="text-muted">조회수 100편 5</div>
    </div>
    <!-- 다른 그리드 아이템들을 이와 같이 추가하세요 -->
  </div>
</div>
</body>
</html>