<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Devlind</title>

  <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&family=Nanum+Gothic:wght@400;700&display=swap"
        rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="icon" href="/favicon.png">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/userinfo.css">

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script defer src="/js/common.js"></script>
  <script defer src="/js/userinfo.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      document.querySelector('#nicknameForm').addEventListener('submit', function (event) {
        // event.preventDefault();
        var newNickname = document.querySelector('.nickname').value;
        axios.patch('/api/members/nickname', { nickname: newNickname })
        .then(response => {
          alert(response.data);
        })
        .catch(error => {
          console.error('닉네임 업데이트 오류:', error);
        });
      });


        document.querySelector('#withdrawButton').addEventListener('click', function () {
          if (confirm('정말로 회원 탈퇴하시겠습니까?')) {
            axios.delete('/api/members')
            .then(response => {
              alert(response.data);
              window.location.href = '/login.html';
            })
            .catch(error => {
              console.error('회원 탈퇴 오류:', error);
            });
          }
        });

      document.querySelector('#logoutButton').addEventListener('click', function () {
        axios.get('/api/logout')
        .then(response => {
          alert(response.data);
          window.location.href = '/';
        })
        .catch(error => {
          console.error('로그아웃 오류:', error);
        });
      });

    });
  </script>
</head>

<body>
<!-- HEADER -->
<header>
  <div class="inner">
    <a href="/" class="logo">
      <img src="/images/스프링르탄이 복사본.png" alt="LOGO">
    </a>

    <div class="main-menu">
      <ul class="menu">
        <li>
          <a sec:authorize="isAuthenticated()" sec:authentication="name" href="/userinfo"></a>
        </li>
        <li>
          <a sec:authorize="isAuthenticated()" href="/write">새 글 쓰기</a>
        </li>
        <li>
          <a sec:authorize="isAuthenticated()" href="/logout">Sign Out</a>
          <a sec:authorize="!isAuthenticated()" href="/member/login">Sign In</a>
        </li>
        <li>
          <a href="/board">자유 게시판</a>
        </li>
        <li>
          <a href="javascript:void(0)">토론 게시판</a>
        </li>
      </ul>
      <div class="search">
        <input type="text" />
        <div class="material-icons">search</div>
      </div>
    </div>
  </div>
</header>

<!-- MEMBER -->
<div class="member">
  <div class="inner">
    <div class="side-menu">
      <!-- <a class="menu-content" href="">유저 관리</a>
      <a class="menu-content" href="">게시물 관리</a>
      <a class="menu-content" href="">통계</a> -->
    </div>
    <div class="info-section">
      <h2>계정 관리</h2>
      <div class="info-box">
        <span class="user-name" sec:authentication="name"></span>
        <form id="nicknameForm">
          <div class="info-content">
            <input type="text" placeholder="nickname" class="nickname" th:value="${#authentication.name}" />
          </div>
          <div class="info-content">
            <input type="text" placeholder="소개 문구" class="introduction"/>
          </div>
          <button type="submit">Submit</button>
          <button type="button" onclick="logout()">Logout</button>
          <button type="button" id="withdrawButton">Withdraw</button>

        </form>
      </div>

      <h2>비밀번호</h2>
      <div class="info-box">
        <span class="user-name"  sec:authentication="name"></span>
        <form action="">
          <div class="info-content">
            <input type="password" placeholder="현재 패스워드" class="current-password" />
          </div>
          <div class="info-content">
            <input type="password" placeholder="사용할 패스워드" class="new-password" />
          </div>
          <div class="info-content">
            <input type="password" placeholder="사용할 패스워드를 다시 입력해주세요" class="new-password-confirm" />
          </div>
        </form>
        <button class="modify-password-btn">수정</button>
      </div>

    </div>
  </div>
</div>


</div>


</body>
</html>