<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{common/layout/layout}">
<link rel="stylesheet" type="text/css" href="your-stylesheet.css">

<body>
<div layout:fragment="content">
  <div class="deal-list">
    <div class="author-dealList-name" th:text="${memberNickname}+'님의 거래 내역'">
    </div>
  </div>
  <div class="deal-content-container">
    <div class="deal-request-List">
      <div class="deal-history-all-body">
        <div class="deal-history-body">
        <h2 class="deal-requestLabel">요청 일자</h2>
        <h2 class="deal-requestLabel">완료 일자</h2>
        <h2 class="deal-requestLabel">거래 상태</h2>
        <h2 class="deal-requestLabel">거래 상세 보기</h2>
      </div>
      </div>
      <div th:each="dealHistoryDto : ${dealHistoryResponseDto}" class="deal-card">
        <div class="deal-card2-body">
         <div class="deal-history-created" ><h2 class="deal-createdTime" th:text="${#temporals.format(dealHistoryDto.createdTime(), 'yyyy-MM-dd HH:mm')}"></h2></div>
          <div class="deal-history-completed" ><h2 th:if="${dealHistoryDto.completedDealTime != null}" th:text="${#temporals.format(dealHistoryDto.completedDealTime, 'yyyy-MM-dd HH:mm')}"></h2></div>
          <div class="deal-history-status"  th:class="${'status-' + dealHistoryDto.dealStatus().getName().toLowerCase().replace(' ', '-')}"><h2 th:text="${dealHistoryDto.dealStatus().getName()}"></h2></div>
          <div class="deal-history-detail"><a th:href="@{/deals/{dealId}(dealId=${dealHistoryDto.id()})}" class="deal-history-button">거래 상세 보기</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>