<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{common/layout/layout}">
<body>
<div class="coupon-body" layout:fragment="content">
  <input hidden="hidden" th:value="${dealId}" class="deal-id">
  <div class="coupon-list-box">쿠폰함</div>
  <div th:each="myCouponGetResponseDto : ${myCouponResponseDtoList}" class="coupon-card">
    <div class="coupon-card-body">
      <input type="hidden" th:value="${myCouponGetResponseDto.couponId()}" class="coupon-id">
      <h2 class="card-title" th:text="${myCouponGetResponseDto.couponName()}"></h2>
      <p class="card-text">
        수수료 할인율: <span th:text="${myCouponGetResponseDto.discountPercentage()}"></span>%<br>
        만료 기한: <span th:text="${myCouponGetResponseDto.expiredTime()}"></span>
      </p>
    </div>
  </div>
  <div class="coupon-use-body">
    <button id="use-coupon" class="coupon-btn">사용하기</button>
    <button class="coupon-btn" th:onclick="|location.href='@{/deals/{dealId}(dealId=${dealId})}'|">취소하기</button>
  </div>
</div>
</body>
<script layout:fragment="script">
    document.querySelectorAll('.coupon-card').forEach(function(element) {
      element.addEventListener('click', function() {
        if(element.classList.contains('select-coupon')){
          element.classList.remove('select-coupon');
        }else {
          element.classList.add('select-coupon');
        }
      });
    });

    document.getElementById('use-coupon').addEventListener('click', function () {
      var selectedCouponIds = [];

      var selectedCoupons = document.querySelectorAll('.select-coupon');

      selectedCoupons.forEach(function (selectedCoupon) {
        var couponIdInput = selectedCoupon.querySelector('.coupon-id');
        if (couponIdInput) {
          selectedCouponIds.push(couponIdInput.value);
        }
      });

      var dealId = document.querySelector('.deal-id').value;

      fetch(`/deals/${dealId}/coupons`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ selectedCouponIdList: selectedCouponIds }),
      })
      .then(response => response.json())
      .then(data => {
        console.log('Server response:', data);
      })
      .catch(error => {
        console.error('Error:', error);
      });
    });

</script>
</html>