<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{common/layout/layout}">
<link rel="stylesheet" type="text/css" href="your-stylesheet.css">
<body>
<div layout:fragment="content">
  <div class="deal-list">
  <div class="author-dealList-name" th:text="${memberNickname}+'님의 스왑 요청 목록'">
  </div>
    <a href="/deals/response/list" class="deal-response-button"> 요청 받은 목록 보러가기</a>
</div>
  <div class="deal-content-container">
    <div class="deal-request-List">
      <div th:each="dealDto : ${dealGetListResponseDto}" class="deal-card">
        <div class="deal-card-body">
          <h2 th:text="${dealDto.receiveMemberNickname()} +'님에게 요청한 거래'" class="deal-nickname"></h2>
          <h2 th:text="${dealDto.dealStatus().getName()}" class="deal-status"></h2>
          <a th:href="@{/deals/{dealId}(dealId=${dealDto.dealId})}" class="deal-button">거래 요청 보기</a>
        </div>
      </div>
    </div>

    <script th:inline="javascript">
      /*<![CDATA[*/
      document.addEventListener("DOMContentLoaded", function () {
        var statusElements = document.querySelectorAll('.deal-status');

        statusElements.forEach(function (element) {
          var statusName = element.textContent.trim();
          var statusColors = {
            '요청 중': '#FF0000',
            '거래 중': '#00AADC',
            '거래 완료': '#000000'
          };

          if (statusColors.hasOwnProperty(statusName)) {
            var color = statusColors[statusName];
            element.style.color = color;
          }
        });
      });
      /*]]>*/
    </script>
    </div>
  </div>
</body>
</html>